#page-map {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

@media (max-width: 768px) {
    #page-map {
        flex-direction: column-reverse;
    }
}

#page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    #page-map aside {
        width: 100%;
        flex-direction: row;
        padding: 3rem 2rem;
    }
}

#page-map aside h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.625rem;
    margin-top: 4rem;
}

@media (max-width:768px) {
    #page-map aside h2 {
        margin-top: 2rem;
    }
}

#page-map aside p {
    line-height: 1.75rem;
    margin-top: 1.5rem;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;
    
    line-height: 1.5rem;
}

#page-map aside footer strong{
    font-weight: 800;
}

#page-map .leaflet-container {
    z-index: 5;
}

#page-map .create-orphanage {
    z-index: 10;

    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;

    width: 4rem;
    height: 4rem;
    background: #15c3d6;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

@media (max-width: 768px) {
    #page-map .create-orphanage {
        background: #ffd666;
    }
}

#page-map .create-orphanage:hover {
    background: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
    color: #0089a5;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem, 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#page-map .map-popup .leaflet-popup-content a {
    width: 2.5rem;
    height: 2.5rem;

    background: #15c3d6;
    box-shadow: 17.2868px 27.6589px 41.48874px rgb(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container{
    display: none;
}